{:paths ["src"]
 :deps  {org.clojure/clojure {:mvn/version "1.10.1"}
         lambdaisland/kaocha {:mvn/version "0.0-601"}
         cloverage/cloverage {:git/url    "https://github.com/krikitti/cloverage"
                              :sha        "fa9af44de351a4c8b44f30da47c32ea827cc55ef"
                              :deps/root  "cloverage"}}
 :aliases
 {:dev
  {}

  :test
  {:extra-paths ["test/unit"]
   :extra-deps {nubank/matcher-combinators {:mvn/version "0.7.0"}}}}}
