{:paths ["src"]
 :deps  {org.clojure/clojure {:mvn/version "1.10.1"}
         lambdaisland/kaocha {:mvn/version "0.0-601"}
         cloverage/cloverage {:git/url    "https://github.com/ekataglobal/cloverage"
                              :sha        "b49e6f54945f172f15a3c7c89296db98d27bf914"
                              :deps/root  "cloverage"}}
 :aliases
 {:dev
  {}

  :test
  {:extra-paths ["test/unit"]
   :extra-deps {nubank/matcher-combinators {:mvn/version "0.7.0"}}}}}
